<div style="height: 100%; width:100%;">
  <app-first *ngIf="status===FIRST" (handleCreate)="handleCreate()" (handleJoin)="handleJoin()"></app-first>
  <app-seconda *ngIf="status===SECOND_A" [strSecondA]="strSecondA" (initApp)="initApp()"></app-seconda>

  <div *ngIf="status===CHAT" style="height: 100%; display: flex; flex-direction: column;">
    <div style="flex:1;">
      <div *ngFor="let chat of arrChat; index as pos">
        <strong>{{chat.sender}} : </strong>
        <span>{{chat.plain}}</span>
      </div>
    </div>

    <form style="padding:30px; display:flex;">
      <input style="flex: 1;" [formControl]="chatInput"/>
      <button (click)="sendMsg(chatInput.value)">Send</button>
    </form>
  </div>

</div>
