<div style="height:100%; width:100%; display: flex; flex-direction: column; align-items: center; color:white; background-color: darkslategray;">
  <div style="flex:3; display: flex; align-items: center;">
    <h1>SECRET</h1>
  </div>
  
  <button style="width: 30vw; height:100px; margin:20px; font-size: large;"
  (click)="onClickCreate()">CREATE</button>
  
  <button style="width: 30vw; height:100px; margin:20px; font-size: large;"
  (click)="onClickJoin()">JOIN</button>
  
  <div style="flex:1;">

  </div>
</div>
